.Person {
    width: 60%;
    margin: 16px auto;
    border: 1px solid #EEE;
    box-shadow: 0 2px 3px #CCC;
    padding: 16px;
    text-align:center;
}

@media (min-width: 500px) {
    .Person {
        width: '450px'
    }
}